@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model Task2.Models.Recepie
@{
    ViewData["Title"] = "ViewNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    body {
        background-color: #edeef0;
    }

    p {
        padding-left: 5%;
        padding-right: 5%;
    }

    .Recepie_container {
        background-color: white;
        padding-left: 2%;
        padding-right: 5%;
        padding-bottom: 1%;
        margin-top: 24px;
        color: rgba(0, 0, 0, 0.86);
        font-family: &quot;
        font-size: 19px;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-weight: 400;
        letter-spacing: normal;
        orphans: 2;
        text-align: start;
        text-indent: 0px;
        text-transform: none;
        white-space: normal;
        widows: 2;
        word-spacing: 0px;
        -webkit-text-stroke-width: 0px;
        text-decoration-style: initial;
        text-decoration-color: initial;
    }

    .Recepie_text {
        margin-left: 5%;
    }

    .control-label {
        padding: 2%;
    }

    .image {
        margin-bottom: 2%;
    }
</style>



<div class="Recepie_container">
    <div class="control-label">
        <h2 class="text-center">@Model.Caption</h2>
    </div>

    <div class="image" align="center">
        <img src="@Model.ImageURL">
    </div>


    <div class="category">
        <h2 class="text-center">@Model.Category</h2>
    </div>



    <div class="description">
        <h2 class="text-center">@Model.Description</h2>
    </div>



    <div class="ingredients">
        <h2 class="text-center">@Model.Ingridients</h2>
    </div>


    <div class="Recepie_text">
        <p>@Html.Raw(Model.Text)</p>
    </div>

    @if (User.IsInRole("admin"))
    {
        <div class="tools">
            <div class="btn-group">
                <form asp-action="EditRecepie" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Edit
                    </button>
                </form>
                <form asp-action="DeleteRecepie" asp-route-id="@Model.Id" method="post" class="btn-group">
                    <button type="submit" class="btn btn-toolbar btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    }

    <div class="Comments">
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-action="CreateComment" asp-route-id="@Model.Id" method="post" class="form-horizontal">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" class="form-control" name="text" placeholder="Comment" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        }

        @if (!User.Identity.IsAuthenticated)
        {
            <div>
                Comments:
            </div>
        }

        @if (Model.RecepieComments != null)
        {
            foreach (Comment comment in Model.RecepieComments)
            {
                <div class="comments">
                    <blockquote>
                        <label>
                            @comment.CreatorName  : @comment.Text
                        </label>
                        <footer>
                            @comment.CreationTime
                        </footer>
                    </blockquote>
                </div>
            }
        }
    </div>
</div>
